<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Striped Table with Hover</h4>
                        <p class="category">Here is a subtitle for this table</p>
                        <button (click)="add()" type="button" class="btn btn-primary">New</button>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <ng-container *ngFor="let colName of ['Customer', 'Building']">
                                            <th>{{ colName }}</th>
                                        </ng-container>                                    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of customerData.data.items">
                                        <td>{{ row.createdBy }}</td>
                                        <td>{{ row.id }}</td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
